<div class="row" *ngIf="article" id="{{article.recordId}}">
  <div class="col">
    <span>a</span>
  </div>
  <div class="col s11 m11 l11">
    <div class="col l4 s12 m4">
      <p>
        <app-record-type [type]="article.recordType"></app-record-type>
        {{article.name}}</p>
    </div>
    <div class="col l4 s12 m4">
      <p>{{article.crimeSeverity}}</p>
    </div>
    <div class="col l4 s12 m4">
      <a href="{{article.url}}">Перейти</a>
    </div>
    <div *ngIf="article.children" class="col l12 s12 m12">
      <app-article-row *ngFor="let child of article.children; let i = index" [article]="child"></app-article-row>
    </div>
  </div>
</div>

