<li class="collection-item {{row.recordType|lowercase}}">
  <div class="row vertical-middle">
    <div class="col l9 s7 m7">
      <p class="collection-header">{{row.recordType | recordType}}
        - <a routerLink="/article-edit/{{row.recordId}}">{{row.name}}</a></p>
    </div>
    <div class="text-right col l3 s5 m5">
      <a *ngIf="row.recordType!='POINT'" href="#"><span class="material-icons">add_to_photos</span></a>
      <a href="#"><span class="material-icons">add_comment</span></a>
      <a class="materialize-red-text" href="#" (click)="delete()"><span class="material-icons">delete</span></a>
    </div>
  </div>
  <ul *ngIf="row.children">
    <app-codecs-tree-row [data]="data" [row]="row" *ngFor="let row of row.children"></app-codecs-tree-row>
  </ul>
</li>


