<div class="row main-container">
  <div class="col l12">
    <div class="row vertical-middle">
      <div class="col l9 s7 m7">
        УК РФ
      </div>
      <div class="text-right col l3 s5 m5">
        <a href="#"><span class="material-icons">add_to_photos</span></a>
      </div>
    </div>

  </div>
  <div class="col l12 ">
    <ul class="display collection collapsible scroll-v">
      <app-codecs-tree-row [row]="row" *ngFor="let row of codecsTree"></app-codecs-tree-row>
    </ul>
  </div>
</div>
