<div class="row">
  <div class="col l3 m3 s12 grey lighten-5 main-container">
    <form class="col l12" *ngIf="change">
      <div class="row">
        <div class="col s12">
          <!--          <input [disabled]="true" id="recordType" type="text" class="validate"
                           [ngModel]="article.recordType | recordType" (ngModelChange)="article.recordType=$event"
                           name="recordType"
                           placeholder="Тип">-->
          <h5 *ngIf="change.name">Редактирование изменения {{change.name }}</h5>
          <h5 *ngIf="!change.name">Новое изменение</h5>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="abbreviation" type="text" class="materialize-textarea" [(ngModel)]="article.abbreviation"
                 name="abbreviation">
          <label for="abbreviation" [ngClass]="{'active': article.abbreviation}">Номер/Порядок</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="name" type="text" class="materialize-textarea" [(ngModel)]="article.name"
                    name="name"></textarea>
          <label for="name" [ngClass]="{'active': article.name}">Название</label>
        </div>
      </div>
      <div class="row">
        <app-crime-sererity-selector [article]="article" id="severity"></app-crime-sererity-selector>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <a target="_blank" class="prefix material-icons" href="{{article.url}}"><i class="material-icons">link</i></a>
          <input required minlength="4" id="url" type="text" class="validate" [(ngModel)]="article.url" name="url"
                 placeholder="Ссылка">
          <label for="name" [ngClass]="{'active': article.url}">Ссылка</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <a (click)='save()' class="waves-effect waves-light btn btn-small"><i class="material-icons">save</i></a>
        </div>
        <div class="input-field col s6">
          <a (click)='delete()' class="waves-effect waves-light btn  btn-small red lighten-2"><i class="material-icons">delete</i></a>
        </div>
      </div>
    </form>
  </div>
  <div class="col s12 l9 m9">
    <app-change-edit [article]="article"></app-change-edit>
  </div>
</div>
