<div class="row">
  <div class="col s12"><p>{{getTitle()}}</p>
    <a href="javascript:void(0);" (click)="add()">Добавить</a>
  </div>
  <div class="col s12">
    <table class="striped">
      <thead>
      <tr>
        <th class="view">Вид</th>
        <th>Минимум</th>
        <th>Максимум</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let s of getSanctionsChanges()">
        <tr>
          <td><b>O:</b> {{s.sanction.name}}, {{s.sanction.metric}}</td>
          <td>{{s.from}}</td>
          <td>{{s.to}}</td>
          <td><a *ngIf="s.id" href="javascript:void(0);" (click)="edit(s)"><span class="material-icons">edit</span></a>
            <a href="javascript:void(0);" (click)="delete(s)"><span class="material-icons">delete</span></a>
            <a  *ngIf="s.id" href="javascript:void(0);" (click)="addAlt(s)"><span class="material-icons">add_circle</span></a>
          </td>
        </tr>
        <ng-container *ngIf="s.alternateSanctions">
          <tr class="darken-2" *ngFor="let sa of s.alternateSanctions; let last=last" [ngClass]="{ last: last }">
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>A:{{sa.optional | optional}}</b> {{s.sanction.name}}, {{s.sanction.metric}}</td>
            <td>{{sa.from}}</td>
            <td>{{sa.to}}</td>
            <td><a *ngIf="sa.id" href="javascript:void(0);" (click)="edit(sa)"><span class="material-icons">edit</span></a>
              <a href="javascript:void(0);" (click)="delete(sa)"><span class="material-icons">delete</span></a></td>
          </tr>
        </ng-container>
      </ng-container>
      </tbody>
    </table>
  </div>
</div>
