<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col s12">
    <app-header></app-header>
  </div>
</div>
<div class="row" id="main-box">
  <div class="col l3 m3 s12" id="codecsTree">
    <app-codecs-tree></app-codecs-tree>
  </div>
  <div class="col l9 m9 s12 main-container" id="main-body">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col l12 m12 s12" id="main-footer"><p>Южный Федеральный Университет <span
    class="material-icons">copyright</span> 2020г. Запорожец Д.Ю.
    <a href="maito:duzaporozhets@sfedu.ru">duzaporozhets@sfedu.ru</a></p>
  </div>
</div>



