/* You can add global styles to this file, and also import other style files */
.display {
  height: calc(100vh - 260px);
  box-shadow: none !important;
}

.display-popup {
  height: calc(100vh - 200px);
}

.display-changes {
  height: calc(100vh - 185px);
}


.scroll-v {
  overflow-y: scroll !important;
}

#main-box {
  margin-bottom: 0;
  margin-top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #efefef;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e8e8e8;
}

a {
  color: #26a69a;
}

.main-container {
  padding-top: 20px;
  border-right: 1px solid #aeaeae !important;
}

body {
  font-size: 80% !important;
}
