/* You can add global styles to this file, and also import other style files */
.display {
  height: calc(100vh - 216px);
}

.scroll-v {
  overflow-y: scroll !important;
}

#main-box {
  margin-bottom: 0;
  margin-top: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #efefef;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e8e8e8;
}

a {
  color: #26a69a;
}
